
/* CSS for landscape orientation */
@media only screen and (min-width: 900px){
    body {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top:0;
        left: 0;
        background-attachment:fixed ;
        background-color: #366293;
        background: linear-gradient(#366293,#244060);
    }
    .ui-active-dimmer {
        width: 100%;
    }
    .container {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: -20px;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #366293;
        background: linear-gradient(#366293,#244060);
    }
    p {
        font-size: 3vh;
    }
    .toolbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
        background-color: #264568;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
        font-weight: lighter;
        z-index: 10;
    }
    .toolbar p{
        display: block;
        width: auto;
        margin: 0;
        margin-top: -7px;
        font-size: 6vh;
        padding-top: 5px;
        padding-left: 3%;
        color: white;
    }
    .content {
        display: block;
        width: 100vw;
        height: 90vh;
        position: absolute;
        top: 11vh;
    }
    .card {
        display: flex;
        width: 70vw;
        margin: 0.5vh auto;
        padding: 1% 2% 2% 2%;
        font-size: 120%;
        background-color: rgb(245, 245, 245);
        border-radius: 3px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.35);
        z-index: 2;
        overflow: auto;
    }
    .card .location {
        display: table-cell;
        width: 60%;
        height: 100%;
        margin: auto;
        padding-right: 6vw;
        vertical-align: middle;
        float: left;
    }
    .card .city, .today {
        display: block;
        width: 50%;
        font-size: 9vh;
    }
    .card .today {
        font-size: 5vh;
    }
    .temperature {
        display: flex;
        width: 50%;
        padding: 4% 2% 5% 2%;
    }
    .temperature .celsius{
        width: 50%;
        margin: auto;
        margin-left: 1.5vw;
        font-size: 4.5vw;
    }
    .temperature .weatherDescription {
        text-transform: capitalize;
    }
    .temperature .weatherDescription, .humidity, .wind{
        margin-top: -5%;
        font-size: 2vw;
        padding-right: 2%;
        text-align: center;
    }
    .temperature .humidity, .wind {
        padding: 1.5% 0;
        color: rgb(115, 115, 115);
        z-index: 13;
    }
    .extraDesc {
        margin-top: -12%;
    }
    .extraDesc p{
        margin: 0;
        display: block;
        font-size: 1vw;
    }
    .card .temperature i, .card .weatherIcon::before {
        display: block;
        margin: 4vh 0 0 1.5vw;
        width: 30%;
        font-size: 7vw;
    }

    .miniCards {
        text-transform: capitalize;
        display: flex;
        width: 70vw;
        margin: auto;
    }
    .miniCard {
        display: relative;
        margin: 2px;
        width: 17.5vw;
        font-size: 1vw;
        background-color: rgb(245, 245, 245);
        border-radius: 3px;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
        z-index: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .miniCard h3 {
        display: block;
        padding: 0.7vh 1.5vh;
        margin: 0;
        font-size: 1.75vw;
    }
    .miniCard .mainData {
        display: flex;
        width: 70%;
        margin: auto;
        margin-top: 10px;
    }
    .miniCard i {
        margin: auto;
        padding: 0 0 0 0.5vw;
    }
    .miniCard .celsius {
        margin: auto;
        font-size: 2vw;
    }
    .miniCard .info p {
        width: 100%;
        margin: 0;
        padding: 10px 10px 20px 10px;
        font-size: 2vh;
        text-align: center;
        
    }
}

/* CSS for portrait orientation */
@media only screen and (max-width: 899px){
    body{
        background-color: #366293;
        background: linear-gradient(#366293,#244060);
    }
    .container {
        width: 100vw;
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: -20px;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
    }
    p {
        font-size: 3vh;
    }
    .toolbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
        background-color: #264568;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
        font-weight: lighter;
        z-index: 10;
    }
    .toolbar p{
        display: block;
        width: auto;
        margin: 0;
        margin-top: -7px;
        font-size: 6vh;
        padding-top: 5px;
        padding-left: 3%;
        color: white;
    }
    .content {
        display: block;
        width: 100vw;
        height: 90vh;
        position: absolute;
        top: 9vh;
    }
    .card {
        display: relative;
        width: 95vw;
        height: 55vh;
        margin: 0.5vh auto;
        padding: 10px 20px;
        font-size: 2.25vh;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
        z-index: 2;
        overflow: auto;
    }
    .card .location .city {
        font-size: 7vh;
    }
    .card .location span {
        display: none;
    }
    .card .weatherIcon {
        display: flex;
        width: 30%;
        margin: 2vh 11vw 0 2px;
        float: left;
    }
    .card .celsius {
        display: flex;
        width: 30%;
        margin: 0;
        margin-top: -2vh;
        padding-left: 0;
        width: 50%;
        text-align: right;
        font-size: 8.5vh;
    }
    .card p {
        margin-top:-2vh;
    }
    .card .info {
        margin: 0;
        text-align: right;
    }
    .card .weatherDescription{
        text-transform: capitalize;
    }
    .temperature .humidity, .wind {
        padding: 1.5% 0;
        color: rgb(115, 115, 115);
    }
    .extraDesc {
        width: 50%;
        margin-top: -5%;
        margin-right: 6%;
        float: right;
    }
    .extraDesc p{
        margin: 0;
        display: block;
        font-size: 2.5vh;
    }
    .miniCards {
        display:block;
        width: 95vw;
        margin: auto;
    }
    .miniCard {
        display: flex;
        margin: 3px 0;
        width: 95vw;
        height: 6vh;
        font-size: 1.2vh;
        text-transform: capitalize;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
        z-index: 2;
    }
    .miniCard h3 {
        width: 30%;
        margin: auto;
        display: block;
        margin-left: 0;
        padding: 6px;
        font-size: 3vh;
    }
    .miniCard .mainData {
        text-align: center;
        display: flex;
        margin: auto;
        width: 20%;
    }
    .miniCard i {
        width: 50%;
        padding: 0;
        padding-right: 1vw;
        font-size: 60%;
    }
    .miniCard p.celsius {
        width: 50%;
        margin: auto;
    }
    .miniCard .info {
        display: flex;
        width: 30%;
        margin: auto;
        color: rgb(92, 92, 92);
        font-size: 1vh;        
    }
    .miniCard .info p{
        padding-left: 7vw;
        text-align: center;
        color: rgb(92, 92, 92);
        font-size: 2vh;        
    }
}